<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} &middot; {% endif %}UDF Repository for MySQL</title>
    <link rel="stylesheet" type="text/css" href="{{ page.baseurl }}/assets/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ page.baseurl }}/assets/style.css">
    <script type="text/javascript" src="{{ page.baseurl }}/assets/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ page.baseurl }}/assets/strftime.js"></script>
    <script type="text/javascript" src="{{ page.baseurl }}/assets/main.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
